.color-high          { fill: #8fb239; }
.color-medium        { fill: #FF7F00; }
.color-low           { fill: #F60A20; }
.color-not-available { fill: #C6344C; }

.black { fill:#333; }
.white { fill: #fff; }
